.success, .warning, .error,.danger {
    font-family: sans-seriffont-size;
    padding: 20px;
    margin: 20px; }
  
.success {
    font-size: 30px;
    font-weight: bold;}
.warning {
    font-size: 30px;
    font-weight: bold}
  
.error {
    font-size: 30px;
    font-weight: bold}
.danger{
    font-size: 30px;
    font-weight: bold }